@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Righteous&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.logo {
  font-family: "Righteous";
}
input {
  border-radius: 5px;
}
img {
  max-width: 100%;
}

my-color {
  --blue: #339dc7;
  --pink: #eab9bd;
}

.form-field > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hero {
  background-image: url(../public/assets/woman-2564660_1280.jpg);
  min-height: 45vh;
  background-position-x: 45%;
  background-position-y: top;
  background-size: cover;
}
.hero-text {
  text-shadow: black 0px 0px 20px;
  color: white;
}
td,
.form-field {
  padding-top: 1rem;
  white-space: nowrap;
}

input {
  text-indent: 10px;
  border: solid grey 2px;
  border-radius: 5px;
  /* color-scheme: dark; */
}

.pill-badge {
  position: absolute;
  font-size: 0.7rem;
  outline: solid black 1px;
  text-align: center;
  border-radius: 50%;
  bottom: 50%;
  left: 80%;
  display: inline-block;
  padding-top: 2px;
  padding: 2px 5px 2px 5px;
}

button {
  border-radius: 2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: rgb(245, 128, 128);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-primary,
.btn-outlined {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.btn-primary {
  background-color: rgb(157, 50, 50);
  padding: 0.5rem 2rem;
  color: white;
}
.btn-primary:hover {
  background-color: rgb(216, 119, 119);
  color: white;
}

.btn-outlined:hover {
  border-color: rgb(216, 119, 119);
}
.btn-outlined {
  color: rgb(198, 93, 93);
  border: 2px solid rgb(192, 75, 75);
}
