@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Righteous&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  height: 100%;
}

body {
  min-height: 100%;
} */

.logo {
  font-family: "Righteous";
}
input {
  border-radius: 2px;
}
img {
  max-width: 100%;
}
.light_theme {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

.dark_theme {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

.form-field > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hero {
  background-image: url(../public/assets/tamanna-rumee-hGLc8L-EcCM-unsplash.jpg);
  min-height: 35vh;
  background-position: center;
  background-size: cover;
}
td,
.form-field {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

input {
  text-indent: 10px;
  border: solid grey 2px;
  border-radius: 5px;
  /* color-scheme: dark; */
}

.pill-badge {
  position: absolute;
  font-size: 0.7rem;
  outline: solid black 1px;
  text-align: center;
  border-radius: 50%;
  bottom: 50%;
  left: 80%;
  display: inline-block;
  padding-top: 2px;
  padding: 2px 5px 2px 5px;
}

button {
  border-radius: 2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: rgb(245, 128, 128);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-primary,
.btn-outlined {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.btn-primary {
  background-color: rgb(157, 50, 50);
  padding: 0.5rem 2rem;
  color: white;
}
.btn-primary:hover {
  color: white;
  background-color: rgb(242, 123, 123);
}

.btn-outlined:hover {
  color: rgb(242, 123, 123);
}
.btn-outlined {
  outline: 2px solid rgb(242, 123, 123);
}

/* #search-bar:focus {
  width: 50vw;
} */
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
